.input {
    padding: 7px 15px;
    font-family: var(--font-family);
    border: none;
    outline-color: var(--primary);
    font-weight: 400;
    font-size: 16px;
    color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
    background: var(--white);
}

.input::placeholder {
    color: var(--gray);
}
