.slide{
    padding: 30px;
    border-radius: 5px;
    background: var(--white);
    position: relative;
    width: 100%;
    display: block;
    text-decoration: none;
    color: var(--black);
}

.slide svg{
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.swiper :global(.swiper-pagination){
    position: relative;
    margin-top: 12px;
}


.bullet{
    background: linear-gradient(0deg, transparent 40%, var(--gray-light) 40%, var(--gray-light) 60%, transparent 60%);
    width: 30px;
    height: 12px;
    display: inline-block;

    /* border-radius: 50%; */

    /* margin: 0 5px; */
    cursor: pointer;
}

.bulletActive{
    background: linear-gradient(0deg, transparent 40%, var(--primary) 40%, var(--primary) 60%, transparent 60%);
}