.slide{
    padding: 30px;
    border-radius: 5px;
    background: var(--white);
    position: relative;
    width: 100%;
    display: block;
    text-decoration: none;
    color: var(--black);
    height: 250px;
    overflow: hidden;
}

.slide svg{
    width: 400px;
    height: 400px;
    position: absolute;
    right: -75px;
    bottom: -150px;
    fill: var(--primary);
}

.title{
    font-size: 60px;
    margin: 0;
    font-weight: 500;
    color: var(--primary);
    font-family: var(--font-1);
}

.titleSm{
    font-size: 30px;
    margin: 0;
    font-weight: 500;
    color: var(--primary);
    font-family: var(--font-1);
}


.swiper :global(.swiper-pagination){
    position: relative;
    margin-top: 12px;
}

.bullet{
    background: linear-gradient(0deg, transparent 40%, var(--gray-light) 40%, var(--gray-light) 60%, transparent 60%);
    width: 30px;
    height: 12px;
    display: inline-block;
    cursor: pointer;
}

.bulletActive{
    background: linear-gradient(0deg, transparent 40%, var(--primary) 40%, var(--primary) 60%, transparent 60%);
}

.lowerCase{
    text-transform: lowercase;
}

@media screen and (max-width: 768px) {
    .slide svg{
        width: 200px;
        height: 200px;
        right: -35px;
        bottom: -75px;
    }

    .title{
        font-size: 40px;
    }
}