.star {
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating {
    display: flex;
}

.filled svg {
    fill: var(--primary);
}

.editable {
    cursor: pointer;
}

.star svg {
    width: 21px;
    height: 21px;
    
    /* transition: fill .05s ease-in-out; */
}


.ratingWrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.errorMessage{
    color: var(--red);
    font-weight: 300;
    font-size: 14px;
    margin-bottom: -10px;
}

.error .star:not(.filled) svg {
    stroke: var(--red);
}
