.product{
    display: grid;
    grid-template-columns: [start] 70px [logoend] 20px [titlestart] calc(50% - 100px) [middle] 1fr [pricestart] auto [priceend] 30px [creditstart] auto [creditend] 30px [ratestart] auto [end];
    padding: 30px;
}

.logo{
    grid-column: start / logoend;
    grid-row: 1 / span 2;
    overflow: hidden;
}

.logo img{
    border-radius: 5px;
    width: 70px;
    height: 70px;
}

.title, .tags{
    grid-column: titlestart / middle;
}

.title, .price, .credit, .rating{
    align-self: flex-end;
}

.price, .credit{
    font-weight: 400;
    font-size: 20px;
}

.price{
    display: flex;
    align-items: center;
    gap: 0 5px;
    flex-wrap: wrap;
}

.price, .priceTitle{
    grid-column: pricestart / priceend;
}

.credit, .creditTitle{
    grid-column: creditstart / creditend;
}

.rating, .rateTitle{
    grid-column: ratestart / end;
}

.priceTitle, .creditTitle, .rateTitle{
    font-weight: 300;
    font-size: 14px;
}

.hr, .description, .actions{
    grid-column: start / end;
}

.description{
    margin-bottom: 15px;
}

.feature{
    grid-column: start / middle;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.advBlock {
    grid-column: middle / end;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.month{
    font-size: 14px;
    line-height: 19px;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 8px;
}

.actions{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.advTitle{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.advantages span{
    width: 3px;
    min-width: 3px;
    border-radius: 2px;
    background-color: var(--green);
}

.disadvantages span{
    width: 3px;
    min-width: 3px;
    border-radius: 2px;
    background-color: var(--red);
}

.advantages, .disadvantages{
    display: flex;
    gap: 20px;
}

.char{
    display: grid;
    grid-template-columns: auto minmax(30px, 1fr) auto;
    align-items: baseline;
    padding-right: 60px;
    font-size: 16px;
    line-height: 24px;
    gap: 10px
}

.charName{
   font-weight: 700;
}

.charValue{
   text-align: end;
}

.charDots{
    border-bottom: 1px dotted var(--gray-light);
}