.icon {
    display: none;
}

.active {
    font-weight: 700;
    color: var(--primary);
}

.active .icon {
    display: block;
}

.sort {
    display: flex;
    gap: 10px 40px;
    flex-wrap: wrap;
    align-items: center;
}

.sort button {
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
    cursor: pointer;
    font-size: 16px;
    line-height: 22px;
    background: none;
    border: none;
}

.sortName{
    display: none;
}
