* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --black: #3b434e;
    --white: #ffffff;
    --primary: #7653fc;
    --primary-hover: #6344df;
    --red: #fc836d;
    --green: #1dc37e;
    --green-light: #c8f8e4;
    --gray-light: #ebebeb;
    --gray: #b3c0d9;
    --font-family: "Noto Sans", sans-serif;
}

html,
body {
    overflow-x: hidden;
    font-family: var(--font-family);
    color: var(--black);
    background: #f5f6f8;
}
